@for $i from 1 through 12 {
    .col-#{$i} {
        display: flex;
        float: left;
        width: calc(100% / (12-#{$i}));
    }
    .col-padding-#{$i} {
        :not(:first-child){
            margin-left: calc(100% / (12-#{$i}));
        }
    }
}
