body {
    font-size: 18px;
    line-height: 1.7;
}

h1 {
    font-size: 400%;
    letter-spacing: -2px;
    line-height: 1.02;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: line-through;
    }
}
