//- index.jade
doctype html
html
    include ./includes/head.jade
    link(rel='stylesheet' href='css/branding.css')
    body
    main.band
        section._tight
            h1 PolyRhythm
            p The goal of PolyRhythm is to immerse audiences in a mosaic of color and sounds.
            p PolyRhythm works with existing midi controllers and music software such as
                <a href="https://www.ableton.com/" target="_blank">Ableton Live</a> and
                <a href="http://www.apple.com/logic-pro/">Logic</a>.
            p 
                a(href="/") Checkout our demo
