extends ./layouts/branding.jade
block content
    main.band
        section._tight
            h1 PolyRhythm
            p The goal of PolyRhythm is to immerse audiences in a mosaic of color and sounds.
            p PolyRhythm works with existing midi controllers and music software such as
                <a href="https://www.ableton.com/" target="_blank">Ableton Live</a> and
                <a href="http://www.apple.com/logic-pro/">Logic</a>.
            p 
                a(href="/") Checkout our demo
            p. 
                PolyRhythm started as a project at the 2016 SXSW Music hackathon.
                It is our hope that we will be able use PolyRhythm in order to make 
                really awesome visual performances, and change the way (slightly) 
                how people play music. and compose audio visual performances
            h3(style="margin-top:5rem") This is what we have so far
            iframe(width="560" height="315" src="https://www.youtube.com/embed/L_HLsiUQ3_E" frameborder="0" allowfullscreen)
            p It's not much, but we're working on it :P
