extends ./layouts/default.jade
block content
    main.band
        section._tight
            h1 PolyRhythm - About
            p.
                When PolyRhythm is in it's <a href="https://www.youtube.com/watch?v=zGdFXUJ1o1U">final form</a>
                it will be a way for artists to create visual effects that are connected with sockets and midi
                controllers. PolyRhythm will work with existing midi controllers and music software such as
                    <a href="https://www.ableton.com/" target="_blank">Ableton Live</a> and
                    <a href="http://www.apple.com/logic-pro/">Logic</a>.
            p.
                PolyRhythm is currently undergoing some heavy refactoring because
                we thought that we could build it better. If you're curious you can
                checkout our <a href="/status">status page</a>
                for more info on our plans.
        
            p. 
                PolyRhythm started as a project at the 2016 SXSW Music hackathon.
                It is our hope that we will be able use PolyRhythm in order to make 
                really awesome visual performances, and change the way
                people perform music and create audio visual experiences.
            p 
                a(href="/") Checkout our demo
            p 
                a(href="/status") Checkout our status page
            p 
                a(href="http://devpost.com/software/polyrhythm" target="_blank") Checkout our hackathon project
            .flex--CENTERED.mt5
                a(href="https://www.youtube.com/watch?v=1TO48Cnl66w" target="_blank") Thanks for stopping by!
