extends ./layouts/default.jade
include ./includes/set.jade
include ./includes/a-card.jade
block content
    main.band
        section.container
            .row 
                .col3.push8
                    .animation-preview
                .col8
                    + set(['<b>Clap</b>', 'Star', 'Circle'], 'flex--center h5 accent m1')
