extends ./layouts/default.jade
block content
    .buttonContainer
        #button.normal
    script(src="socket.io/socket.io.js")
    script(src="js/third-party/randomcolor.js")
    script(src="js/audience.js")
