extends ./layouts/default.jade

block content
    style.
        @keyframes pastelRainbow {
          0% {
            background-position: 94% 0%; }
          50% {
            background-position: 7% 100%; }
          100% {
            background-position: 94% 0%; } }

        body, html {
          margin: 0;
          padding: 0;
          background: -webkit-linear-gradient(45deg, #A6F4FE, #E9547D, #DFD4B8);
          background: linear-gradient(45deg, #A6F4FE, #E9547D, #DFD4B8);
          background-size: 300% 300%;
          -webkit-animation: pastelRainbow 15s ease infinite;
                  animation: pastelRainbow 15s ease infinite; }

    #two

    //- Compatibility Check
    .scripts(style="display: none;")
        script.
            /**
             * Check before loading JavaScript that we have the necessary features
             * in order to run the project. If we don't throw an error and display
             * the error page.
             */
            if (!Object.defineProperty || !(window.AudioContext || window.webkitAudioContext)) {n
              $(function() {
                $('#lobby').fadeOut();
                $('#merchandise').css({
                  opacity: 1.0,
                  display: 'none',
                  zIndex: 0
                }).fadeIn();
                $('#close-merchandise').css('display', 'none');
              });
              throw 'Oof, I cannot load this application because it will break...';
            }

        //- Initiate societ.io
        script(src="/socket.io/socket.io.js")
        script(type='text/javascript').
            var socket = io();

        //- Two.js dependencies
        script(src="js/third-party/has.js")
        script(src="js/third-party/url.js")
        script(src="js/third-party/jquery.js")
        script(src="js/third-party/tween.js")
        script(src="js/third-party/randomcolor.js")

        //- Two.js
        script(src="js/third-party/two.js")
        
        //- Animation logic
        script(src="js/animations-init.js")
        script(src="js/animations.js")
        script(src="js/animation-controller.js")

        //- Inputs
        script(src="js/socket-input.js")
