extends ./layouts/default.jade
include ./includes/clip-box.jade
block content
    .performance
    .info--popup
        .info--window
            .container
                .row
                    .col12
                        h2(style="{text-align:center}") PolyRhythm
                        p Thanks for checking out PolyRhythm!
                        p Feel free to play around here!
                        p.
                            You should totally let us know what you think though!
                            I'm still a pretty new project and the people making me
                            would love to hear what you think so they can make me
                            even coolllerrrr! :D
                        p
                            | Try plugining in a midi controller and controlling
                            | animations with that. You can also use ableton to
                            | trigger animations. 
                            a(href="/about") You may need to set up yor computer though
                        a(href="/about") Checkout our about page
    
      script(src="/socket.io/socket.io.js")
      script(async="" src="//www.google-analytics.com/analytics.js")
      script(src="https://code.createjs.com/easeljs-0.8.2.min.js")
      script(src="js/mouse-info.js")
      script(src="js/app.js")
