extends ./layouts/default.jade
block content
    .performance
        #two
    .info--popup
        .info--window
            .row
                h2 Audio
                p Press the following keys for a good time
                ul
                    - audioKeys = ["q, w, e, r", "a, s, d, f"]
                    - for keys in audioKeys
                        li=keys
            .row
                .col12
                    p This box will go away in 5seconds
                    a(href="/about") Checkout our about page
        
      script(src="/socket.io/socket.io.js")
      script(async="" src="//www.google-analytics.com/analytics.js")
      script(src="js/third-party/has.js")
      script(src="js/third-party/url.js")
      script(src="js/third-party/jquery.js")
      script(src="js/third-party/tween.js")
      script(src="js/third-party/two.js")
      script(src="js/third-party/randomcolor.js")
      script(src="js/third-party/sound.js")
      script(src="js/socket-init.js")
      script(src="js/sounds.js")
      script(src="js/sound-controller.js")
      script(src="js/animations-og.js")
      script(src="js/animations.js")
      script(src="js/animation-controller.js")
      script(src="js/midi-input.js")
      script(src="js/key-input.js")
      script(src="js/mouse-info.js")
      script(src="js/socket-input.js")
