extends ./layouts/default.jade

mixin clip-party(party)
    .clip-box(data-type=party.type)
        each boxes in party.triggers
            each box in boxes
                .clip-box--clip(data-name=box data-type=party.type)= box

block content
    - keyboard = { type: "keyboard", triggers:["qwertyuiop".split(''),"asdfghjkl;'".split(''),"zxcvbnm,,.".split('')]}
    - midi = {type: "midi", triggers: [[36, 2, 3, 4, 5, 6, 7, 50, 60, 67]]}
    - phone = {type:"phone", triggers: [["p1", "p2", "p3", "p4"], ["p5", "p6", "p7", "p8"]]}
    - scenes = {type:"scene", triggers: [[1,2,3,4]]}
    main.band
        section.container
            .row
                aside.side-nav.col1
                    .side-nav--item
                        include ./includes/knob.jade
                    .side-nav--item
                        include ./includes/triangle.jade
                    .side-nav--item
                        include ./includes/rectangle.jade
                .col5.push1
                        + clip-party(keyboard)
                        + clip-party(phone)
                .col5.push6
                        + clip-party(midi)
                .col1.push11
                    + clip-party(scenes)
        script(src="js/session-edit/se-controller.js")
        script(src="js/session-edit/se-midi-in.js")
