//- index.jade
doctype html
html
    include ./includes/head.jade
    link(rel='stylesheet' href='css/branding.css')
    body
    main.band
        section._tight
            include ./includes/knob.jade
