extends ./layouts/default.jade
include ./includes/clip-box.jade

block content
    - keyboard = { type: "keyboard", triggers:["qwertyuiop".split(''),"asdfghjkl;'".split(''),"zxcvbnm,,.".split('')]}
    - midi = {type: "midi", triggers: [[36, 2, 3, 4, 5, 6, 7, 50, 60, 67]]}
    - phone = {type:"phone", triggers: [["p1", "p2", "p3", "p4"], ["p5", "p6", "p7", "p8"]]}
    - scenes = {type:"scene", triggers: [[1,2,3,4]]}
    main.band
        section.container
            .row
                aside.side-nav.col1
                    .side-nav--item
                        include ./includes/knob.jade
                    .side-nav--item
                        include ./includes/triangle.jade
                    .side-nav--item
                        include ./includes/rectangle.jade
                .col5.push1
                        + clip-box(keyboard)
                        + clip-box(phone)
                .col5.push6
                        + clip-box(midi)
                .col1.push11
                    + clip-box(scenes)
        script(src="js/session-edit/se-controller.js")
        //- script(srcs="js/session-edit/sse-midi-in.js")
