extends ./layouts/branding.jade
block content
    main.band
        section.container
            aside.side-nav
                .side-nav--item
                    include ./includes/knob.jade
                .side-nav--item
                    include ./includes/triangle.jade
                .side-nav--item
                    include ./includes/rectangle.jade
