/**
 * Profound Grid
 *
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts,
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 *
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 *
 * Nested columns are supported too, without having to reset the grid on each level.
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
.container {
  width: 92.3%;
  margin: 0 3.85%;
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .container .row {
    width: 92.3%;
    margin: 0 3.85%; }
  .container .col1 {
    float: left;
    margin-right: -100%;
    width: 4.8%; }
  .container .col2 {
    float: left;
    margin-right: -100%;
    width: 13.46%; }
  .container .col3 {
    float: left;
    margin-right: -100%;
    width: 22.11%; }
  .container .col4 {
    float: left;
    margin-right: -100%;
    width: 30.77%; }
  .container .col5 {
    float: left;
    margin-right: -100%;
    width: 39.42%; }
  .container .col6 {
    float: left;
    margin-right: -100%;
    width: 48.08%; }
  .container .col7 {
    float: left;
    margin-right: -100%;
    width: 56.73%; }
  .container .col8 {
    float: left;
    margin-right: -100%;
    width: 65.38%; }
  .container .col9 {
    float: left;
    margin-right: -100%;
    width: 74.04%; }
  .container .col10 {
    float: left;
    margin-right: -100%;
    width: 82.69%; }
  .container .col11 {
    float: left;
    margin-right: -100%;
    width: 91.35%; }
  .container .col12 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .container .push0 {
    margin-left: 0%; }
  .container .push1 {
    margin-left: 8.65%; }
  .container .push2 {
    margin-left: 17.31%; }
  .container .push3 {
    margin-left: 25.96%; }
  .container .push4 {
    margin-left: 34.62%; }
  .container .push5 {
    margin-left: 43.27%; }
  .container .push6 {
    margin-left: 51.93%; }
  .container .push7 {
    margin-left: 60.58%; }
  .container .push8 {
    margin-left: 69.23%; }
  .container .push9 {
    margin-left: 77.89%; }
  .container .push10 {
    margin-left: 86.54%; }
  .container .push11 {
    margin-left: 95.2%; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex--col {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.float-left {
  float: left; }

body {
  font-size: 18px;
  line-height: 1.7; }

h1 {
  font-size: 400%;
  letter-spacing: -2px;
  line-height: 1.02; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: line-through; }

.band {
  padding: 5rem 0; }

body {
  font-family: Roboto;
  font-weight: 300;
  margin: 0; }

body {
  background: #FFF9F0;
  color: #6F6259; }

a {
  color: #F599C0; }

._tight {
  max-width: 900px;
  width: 80%;
  margin: auto; }

.info--popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  background-image: -webkit-linear-gradient(bottom left, #333, rgba(51, 51, 51, 0.5));
  background-image: linear-gradient(to top right, #333, rgba(51, 51, 51, 0.5));
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: none; }
  @media (min-width: 900px) {
    .info--popup {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; } }
  .info--popup.show {
    opacity: 1;
    cursor: default;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; }
    .info--popup.show .info--window {
      -webkit-transform: scale(1);
              transform: scale(1); }

.info--window {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #eee;
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  height: 80%;
  max-height: 300px; }
  @media (min-width: 900px) {
    .info--window {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; } }
  .info--window iframe {
    margin-bottom: -5px; }

.side-nav {
  float: left;
  margin-right: -100%;
  width: 4.8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%; }
  .side-nav--item:not(:last-child) {
    margin-bottom: 1rem; }

.button--container {
  min-width: 25%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px; }

.button--pad {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #222;
  border-radius: 5px;
  border: 10px solid gray; }
  .button--pad.active {
    background: #555;
    border: 10px solid red; }
  .button--pad.disabled {
    background: #333;
    border-color: #333; }

.clip-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .clip-box:not(:last-child) {
    margin-bottom: 6rem; }
  .clip-box--clip {
    background: #8EC1D6;
    color: #FFF9F0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    padding: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #FFF9F0;
    box-sizing: border-box; }
