$clip-box-container-gap: 6;
$clip-box-size: 5rem;

.clip-box {
    @include gap($clip-box-container-gap);
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &--clip {
        @extend .flex;
        @extend .flex--center;
        background: $bg-accent;
        color: $bg;
        height: $clip-box-size;
        width: $clip-box-size;
        border: 1px solid $bg;
        box-sizing: border-box;
        transform: scale(1);
        transition: all 50ms ease-out;

        &:active, &.active {
            background: $bg-accent--light;
            transform: scale(0.7);
        }
    }
}
