.clip-box {
    @include gap(6);
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &--info {
        @extend .clip-box;
        @include gap(0);
    }


    &--clip {
        background: $bg-accent;
        color: $bg;
        display: flex;
        padding: 1rem;
        flex: 1;
        justify-content: center;
        align-items: center;
        border: 1px solid $bg;
        box-sizing: border-box;
        transform: scale(1);
        transition: all 50ms ease-out;

        &:active, &.active {
            background: $bg-accent--light;
            transform: scale(0.7);
        }
    }
}
