
$bp-lg: 900px;

.info {
    &--popup {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: top;
        background-image: linear-gradient(to top right,#333,rgba(#333,0.5));
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
        cursor: none;

        @media(min-width: $bp-lg) {
            align-items: center;
        }

        &.show {
            opacity: 1;
            cursor: default;
            visibility: visible;
            transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;

            .info--window {
                transform: scale(1);
            }
        }
    }

    &--window {
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-flow: column;
        transform: scale(0);
        background: $bg;
        box-shadow: 0 0 30px rgba(#333, 0.6);
        width: 80%;
        max-width: 400px;
        padding: 1rem;
        height: 80%;
        max-height: 300px;
    }
}
