
$bp-lg: 900px;

.info {
    &--popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: top;
        justify-content: center;
        cursor: none;

        @media(min-width: $bp-lg) {
            align-items: center;
        }

        &.show {
            cursor: default;;
        }
    }
    &--window {
        display: flex;
        flex-flow: column;
        padding: 1rem;
        max-width: 400px;
        max-height: 300px;
        width: 80%;
        height: 80%;
        background: $bg;
        box-shadow: 0px 0px 20px rgba(#000, 0.1), 0px 0px 70px rgba(#333, 0.2);
        cursor: default;
        transition: transform 0.3s  cubic-bezier(0,1,1,1);
        transform: scale(0);

        &.show {
            transform: scale(1);
        }
    }
}
