.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;

    &--item {
        cursor: pointer;
        &:not(:last-child){
            margin-bottom: 1rem;
        }
        &:hover #Page-1{
            fill: white;
            & >* {
                stroke: $bg-accent;
            }
        }
    }
}
