
$text-main: #6F6259;
$link-main: #F599C0;
$black: #444;
$white: #fff;
$purple: #A388D7;
$bg: $white;
$bg-accent: #8EC1D6;
$bg-accent--light: lighten(#8EC1D6, 10%);
$trans-list: 0.3, 0.5, 0.7;

body {
    background: $bg;
    color: $black;
}

a {
    color: $link-main;
}

@each $trans in $trans-list {
    .trans#{$trans * 100} {
        opacity: $trans;
    }
}
