$bg: #FFF9F0;
$bg-accent: #8EC1D6;
$bg-accent--light: lighten(#8EC1D6, 10%);
$text-main: #6F6259;
$link-main: #F599C0;

body {
    background: $bg;
    color: $text-main;
}

a {
    color: $link-main;
}
