$total_width: 100%;
$container_margin: 3.85%;
$gutter_width: 3.85%;
$max_width: 1120px;

body {
    @include generate_helper_classes();
}

.container {
    @extend %clearfix;
    max-width: $max_width;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}
