.flex {
    display: flex;

    &--col {
        flex-flow: column;
        justify-content: space-between;
    }

    &--center {
        align-items: center;
        justify-content: center;
    }
}
