.buttonContainer {
  box-sizing: border-box;         /* Opera/IE 8+ */
  height: 100%;
  background: transparent;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.normal {
  height: 0;
  width: 0;
  background: red;
  border-radius: 50%;
}

.active {
  animation:grow 1s ease-in-out;
  animation-fill-mode:forwards;
}

.comingback {
  transform: scale(0);
  animation:comeback .25s ease-in-out;
  animation-fill-mode:forwards;
}

@keyframes grow { 
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% { opacity: 0.0; 
        transform:scale(1.5); 
  }
  51% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}