.clip-box {
    @include gap(6);
    display: flex;
    flex-flow: row wrap;


    &--clip {
        background: $bg-accent;
        color: $bg;
        display: flex;
        width: 20%;
        padding: 2rem;
        flex: 1;
        justify-content: center;
        align-items: center;
        border: 1px solid $bg;
        box-sizing: border-box;
        transform: scale(1);
        transition: background 0.12s cubic-bezier(0,0,1,1);

        &:active {
            background: $bg-accent--light;
            transform: scale(0.7);
        }
    }
}
