$button-border: 10px solid gray;
$button-border-active: 10px solid red;

.button {
    &--container {
        min-width: 25%;
        flex-grow: 1;
        box-sizing: border-box;
        display:flex;
        padding: 10px;
    }

    &--pad {
        flex: 1;
        background: #222;
        border-radius: 5px;
        border: $button-border;

        &.active {
            background: #555;
            border: $button-border-active;
        }

        &.disabled {
            background: #333;
            border-color: #333;
        }
    }
}
