@keyframes pastelRainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; }
}

.performance  {
    display: block;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #A6F4FE, #E9547D, #DFD4B8);
    background-size: 300% 300%;
    animation: pastelRainbow 15s ease infinite;
    font-family: helvetica, ariel;
    color: #444;
    cursor: none;
}
